global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen {{ haproxy_stats_name }}
    bind {{ haproxy_stats_bind_address }}:{{ haproxy_stats_port }}
    mode {{ haproxy_stats_mode }}
    stats enable
    stats uri /

listen {{ haproxy_frontend_name }}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
    mode {{ haproxy_frontend_mode }}
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    {% for backend in groups[haproxy_backend_group_name] %}
    server {{ haproxy_frontend_name }}_{{ backend }}_{{ haproxy_backend_port }} {{ backend }}:{{ haproxy_backend_port }} maxconn 100 check port 8008
    {% endfor %}

